.btn-position-mid{
  margin-left: 40%;
  
}

.label-custom-slik{
  margin-right: 3px;
}

.form-custom-neku{
  margin-right: 2px;
}

.page-title{
    text-align: center;
}

.side-nav-highlight:hover a{
  background-color:#66b2b2;
}

.strong-white-center{
  color: #fff;
  text-align: center;
}

.custom-white{
  color: #fff;
}

.header-shadow{
    box-shadow: 5px 5px #bf692c;
    margin: 0% 0% 3% 0%;
}

.lineBlock{
    margin: 20px 5px;
}

.lineBlock1{
    margin: 20px 35px 5px 0px;
}

.form-margin{
  margin: 50px;
}

.container-margin{
  margin-top: 20px;
}

.form-spacing-1{
  padding-right: 5%;
}

.vertical-center{
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.centering{
  display: flex;
  align-items: center;
  margin: 0 3% ;
  justify-content: space-evenly;
}

.align-button-center{
  margin-left: 50%;
  margin-right: 50%;
}

.logo{
    width: 10%;
}

.login-logo{
  width: 100%;
  margin-left: 33%;
  margin-right: 50%;
}

.logo-sidebar{
    width: 50%;
}


/* fonts */

.login-font{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

/* background color */

.login-background{
  background-color:   #bf692c;
  background-image: url(/asset/widebanner.png);
  /* background-size: cover; */
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.head-banner{
  background-color: #008080;
  background-image: url(/asset/headbanner.jpg);
  background-size: cover;
  width: 100%;
  height: 50%;
  background-position: center left;
  background-repeat: no-repeat;
}

.bg-orange{
    background-color: #ff9c00;
}

.bg-orange-shadow{
  background-color: #ff9c00;
  box-shadow: 5px 5px #ffb94c;
}

.bg-teal{
    background-color: #008080;
}

.bg-teal-shadow{
    background-color: #008080;
    box-shadow: 5px 5px #006666;
}

.bg-light-teal{
    background-color: #66b2b2;
}

.list-group-item-teal{
  color: #004085;
  background-color: #008080;
}

.list-group-custom .list-group-item {
  background-color: #008080;
  /* border-top: 1px solid #000;
  border-left-color: #000;
  border-right-color: #000; */
}

.list-group-custom .list-group-item:hover {
  background-color: #ff9c00;
}

.list-group-custom .list-group-item:focus{
  background-color: #ff9c00;
}


/* sidenav child menu */

.childMenu{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /* background-color: #ff9c00; */
    background-color: #008080; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  
}
 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    /* background-color: #ff9c00; */
    background-color: #008080; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll*/
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    /* -moz-overflow: hidden; */
    -ms-overflow-style: hidden;
    /* overflow: hidden; */
  }
  
  .sidenav::-webkit-scrollbar{
    display: none;
  }
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav h2{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #body {
    transition: margin-left .5s;
    overflow-y: hidden;
    /* padding: 20px; */
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

  #search-Table-Main{
    display: none;
  }